<!doctype html>
<html>
<head>
  <title>Be closer</title> 
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="shortcut icon" href="/img/favicon.ico" />

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->        
      <link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">

      <link rel="stylesheet" type="text/css" href="css/c3.min.css">
      <link rel="stylesheet" type="text/css" href="css/visualization.css">
          <!-- Custom CSS -->
    <link href="css/agency.css" rel="stylesheet">
    <link href="css/PineApp.css" rel="stylesheet">
      <script src="https://cdn.firebase.com/js/client/2.2.1/firebase.js"></script>
  <script src='https://ajax.googleapis.com/ajax/libs/jquery/1.9.0/jquery.min.js'></script>

    <!-- Custom Fonts -->

   
  <script src='https://ajax.googleapis.com/ajax/libs/jquery/1.9.0/jquery.min.js'></script>

    <link href="http://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
    <link href='http://fonts.googleapis.com/css?family=Kaushan+Script' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Droid+Serif:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Roboto+Slab:400,100,300,700' rel='stylesheet' type='text/css'>
<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">


</head>

<body>
   <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header page-scroll">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Love</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand page-scroll" href="/login">Love</a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li class="hidden">
                        <a href="#page-top"></a>
                    </li>
                    <li > 
                       {{#if user}}
                     
                        <li class="dropdown">
                           <a class="dropdown-toggle btn-info" data-toggle="dropdown" role="button" aria-expanded="false" style="cursor:pointer">
                            <img src={{user_profilePicture}} alt="user profile picture" style="width:30px;  vertical-align: text-center"></img>
                              {{user.name}} <span class="caret"></span>
                            </a>

                            <ul class="dropdown-menu " role="menu">
                             <li><a href="/challenges"  style="color:#000">Challenges</a></li>
                              <li><a href="/fashion"  style="color:#000">Fashion</a></li>
                                 <li><a href="/moments"  style="color:#000">Moments</a></li>
                             <li><a href="/places"  style="color:#000">Places</a></li>
                               <li><a href="/me"  style="color:#000">Profile</a></li>
                               <li><a href="/account"  style="color:#000">Account</a></li>
                                <li><a href="/about"  style="color:#000">Help</a></li>
                              <li><a href="/logout"  style="color:#000">Logout</a></li>
                            </ul>
                        </li>     
                        
                        {{else}}
                            <li class="dropdown">
  <a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false" style="color:#fec503;cursor:pointer">
                          
                            EXPLORE<span class="caret"></span>
                            </a>

                            <ul class="dropdown-menu " role="menu">
                                      <li><a href="/challenges"  style="color:#000">Challenges</a></li>
                            <li><a href="/fashion"  style="color:#000">Fashion</a></li>
                                 <li><a href="/moments"  style="color:#000">Moments</a></li>
                                  <li><a href="/places"  style="color:#000">Places</a></li>
                                    <li><a href="/about"  style="color:#000">Aout</a></li>

                               <li><a href="/login#main"  style="color:#000">SIGNIN</a></li>

                            </ul>
                          </li>
                    {{/if}}
                      </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container-fluid -->
    </nav>



  <script type="text/javascript" src="http://mbostock.github.com/d3/d3.js"></script>
    <script type="text/javascript" src="http://code.jquery.com/jquery-1.6.2.min.js"></script> 
    <script src="https://code.jquery.com/jquery.js"></script>
    <script src="js/bootstrap.js"></script>
    <script src="js/d3.min.js"></script>
    <script src="js/jquery.tipsy.js"></script>


    <script src="js/c3.min.js"></script>
        <script src="js/agency.js"></script>
      <script src="http://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.3/jquery.easing.min.js"></script>

    {{{body}}}    

  
<div class="chat-box">
    <input type="checkbox">
    <label data-expanded="HANA Chat" data-collapsed="HANA Chat" style="margin-bottom:0px"></label> </input>
    <div class="chat-box-content example-chat l-demo-container " style="margin-top:0px">



<!-- CHAT MARKUP -->

  <div class='example-chat-toolbar'>
    <label for="nameInput">Username:</label>
    <input type='text' id='nameInput' placeholder='Me'>
  </div>

  <ul id='example-messages' class="example-chat-messages"></ul>

  <footer>
    <input type='text' id='messageInput'  placeholder='Type something...'>
  </footer>


</div>
</div>



</body>


 <footer  style="background:#F7F6F6;color:#ffffff">© 2015 HANA</footer>
<!-- CHAT JAVACRIPT -->
<script>
  // CREATE A REFERENCE TO FIREBASE
  var messagesRef = new Firebase('https://burning-fire-4663.firebaseio.com');

  // REGISTER DOM ELEMENTS
  var messageField = $('#messageInput');
  var nameField = $('#nameInput');
  var messageList = $('#example-messages');

  // LISTEN FOR KEYPRESS EVENT
  messageField.keypress(function (e) {
    if (e.keyCode == 13) {
      //FIELD VALUES
      var username = nameField.val();
      var message = messageField.val();

      //SAVE DATA TO FIREBASE AND EMPTY FIELD
      messagesRef.push({name:username, text:message});
      messageField.val('');
    }
  });

  // Add a callback that is triggered for each chat message.
  messagesRef.limitToLast(10).on('child_added', function (snapshot) {
    //GET DATA
    var data = snapshot.val();
    var username = data.name || "anonymous";
    var message = data.text;

    //CREATE ELEMENTS MESSAGE & SANITIZE TEXT
    var messageElement = $("<li>");
    var nameElement = $("<strong class='example-chat-username'></strong>")
    nameElement.text(username);
    messageElement.text(message).prepend(nameElement);

    //ADD MESSAGE
    messageList.append(messageElement)

    //SCROLL TO BOTTOM OF MESSAGE LIST
    messageList[0].scrollTop = messageList[0].scrollHeight;
  });
</script>
</html>

