


 <header style="background:#31B88A">
           <div class="sections-wrapper">   
     
        <!-- ******Why Section****** -->
        <section id="why" class="section why">
            <div class="container">
                <h2 class="title text-center intro-heading" style="font-size:40px">One Challenge, Every Day</h2>
                <br>
                <br>
                <div class="row item">
                    <div class="content col-md-4 col-sm-12 col-xs-12">
                        <h3 class="title" style="border-bottom: 1px solid">What Are the keys to Wellbeing?</h3>
                        <div class="desc">
                            <p class="intro text-center" style="font-size:18px">Studies show that positive wellbeing is achieved through three major aspects of your life: </p>
                            <p class="intro text-center" style="font-size:18px">1. Health</p>
                            <p class="intro text-center" style="font-size:18px">2. Relationships</p>
                            <p class="intro text-center" style="font-size:18px">3. Aspirations</p>
                        </div>
                                        
                    </div><!--//content-->
                    <figure class="figure col-md-7 col-sm-12 col-xs-12 col-md-offset-1 col-sm-offset-0 col-xs-offset-0">
                        <img class="img-responsive" src="img/healthy.jpg" alt="" />
                  
                    </figure>
                </div><!--//item-->
                
                <div class="row item" style="padding-top:3ex">
                    <div class="content col-md-4 col-sm-12 col-xs-12 col-md-push-8 col-sm-push-0 col-xs-push-0">
                        <h3 class="title" style="border-bottom: 1px solid">Challenge Your Lifestyle</h3>
                        <div class="desc">
                            <p>HANA is a medium through which you can give yourself one small mission a day. Through incremental changes every day, we believe that you will be able to transform your life for the better. Track your challenge history through your profile, where we provide helpful metrics for making sure you're completing a challenge a day!</p>
                        </div>
                        
                        <div class="quote">
                            <div class="quote-profile">
                                <img class="img-responsive img-circle" src="/img/actress.jpg" alt="" />
                            </div><!--//profile-->
                            <div class="quote-content">
                                <blockquote><p>"I find  HANA very useful when I've got a little downtime, like when I'm in the bathroom. HANA  gives me an easy lesson every day which is easy for me to incorporate in my daily routine. I've noticed all aspects of my life becoming better since I've started challenging myself every day with HANA. Thank you HANA!" </p></blockquote>
                                <p class="source">@Isabelle, San Francisco</p>
                            </div><!--//quote-content-->         
                        </div><!--//quote-->                        
                    </div><!--//content-->
                    <figure class="figure col-md-7 col-sm-12 col-xs-12 col-md-pull-4 col-sm-pull-0 col-xs-pull-0">
                        <img class="img-responsive" src="img/1.jpg" alt="" />
                        <div class="control text-center">                 
                        </div><!--//control-->
                    </figure>
                </div><!--//item-->
                
                <div class="row item ">
                    <div class="content col-md-4 col-sm-12 col-xs-12">
                        <h3 class="title" style="border-bottom: 1px solid">The HANA Community</h3>
                        <div class="desc">
                            <p>HANA features a community page where you can see what challenges others are completing. Use this for inspiration, and feel free to leave positive comments on others' posts!</p>
                            <p>You can also vote on others' challenges, pushing them to the top of the community page. Try creating an original challenge for others to complete! </p>
                        </div>
                        <div class="quote">
                            <div class="quote-profile">
                                <img class="img-responsive img-circle" src="img/thisguy.png" alt="" />
                            </div><!--//profile-->
                            <div class="quote-content">
                                <blockquote><p>"I've finally been getting in shape! Before doing HANA, I didn't know where to start. One day I saw my friend using HANA, and it had really basic instructions for a home workout: pushups and lunges. These were easy enough, and by doing these basic exercises every day I built up my self confidence and am now swimming and doing other sports I didn't think I was capable of. Thank you HANA!"</p></blockquote>
                                <p class="source"><a href="#">@John</a>, London</p>
                            </div><!--//quote-content-->          
                        </div><!--//quote-->                        
                    </div><!--//content-->
                    <figure class="figure col-md-7 col-sm-12 col-xs-12 col-md-offset-1 col-sm-offset-0 col-xs-offset-0">
                        <img class="img-responsive" src="img/swim.jpg" alt="" />
                    </figure>

                </div><!--//item-->
           
            
            </div><!--//container-->
        </section><!--//why-->  
   
    </header>


