      

  <header style="background:#31B88A">
        <div class="container">
            <div class="intro-text">
                <div class="intro-heading">ABOUT {{firstName}}</div>
                    <div class="intro-lead-in">ID: {{user.ig_id}}</div>
                        <div class="intro-lead-in">Username: {{user.name}}</div>
                <div class="intro-lead-in">
                <h4>Learn about your follower with</4>  </div>
                
                <a href="/c3visualization" style="border:none" class="noTextDoc btn btn-danger btn-xl">C3 visualization</a>

<a href="/visualization" style="border:none" class="noTextDoc btn btn-info btn-xl">D3 visualization</a>
</div>
              
               
            </div>
        </div>
    </header>


