<header style="background:#31B88A">

      <div class="intro-text">
                   <div class="intro-heading">Let's me</div>
                    <div class="intro-lead-in">Share With you</div></div>



                    <div class="container">
                     <h4 style="text-align:left">In the 21st Century, people have better products and technologies; soon, we will have even more advanced algorithm and Artificial Intelligence. However, people are not necessarily happier and still encountered different forms of anxieties.

Many experts from Psychology and Sociology have analyzed the phenomenon and have published different papers with potential solutions. For example, Martin Seligman introduces the components PERMA that articulated an account of the good life, including Positive emotion, Engagement, Relationships, Meaning, and Achievement. Psychologist Daniel Gilbert makes claims on life flourishing and meaning. However, most of these valuable research are not read or being applied to daily life.

We believe that happiness can be achieved by being healthy, being motivated and being able to form strong relationships.


Our team has the goal of helping couples have better relationship. We work hard to build a platform for couples to cultivate their relationships. <h4/>
                     <h4>1)Explore the beautiful  <a class="btn btn-info" href="/places" >places</a> nearby </h4>
                     <h4>2)Discover the <a class="btn btn-success" href="/fashion">FASHION</a> lifestyle</h4>
                     <h4>3)Find out what's <a class="btn btn-danger" href="/moments" >happenning</a></h4>
                     
      </div>


</header>

      <div id="wrapper1">
   
      </div>
