      

  <header style="background:#31B88A">
        <div class="container">
            <div class="intro-text">
                <div class="intro-heading"></div>
                    <div class="intro-lead-in">Media Count of Your Instagram Followers</div>
                        <div class="intro-lead-in">HI, {{firstName}}!!</div>
                <div class="intro-lead-in" id="svgid">
             <script src="http://d3js.org/d3.v3.min.js"></script>
<script src="http://labratrevenge.com/d3-tip/javascripts/d3.tip.v0.6.3.js"></script>

<div id="chart"></div>
   <a href="/c3visualization" style="border:none" class="noTextDoc btn btn-danger btn-xl">View C3</a>
<label><input type="checkbox"> Sort values</label>
<script src="js/visualization.js"></script>

                </div>
               
            </div>
        </div>
    </header>




